<c-spinner [show]="inProgress" [fullScreen]="true"></c-spinner>
<div class="animated fadeIn">
  <div class="page-header">
    <div class="card my-2 bg-default">
      <div class="card-body p-2">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="fromDate">Từ ngày<span
              class="font-weight-bold text-danger">(*)</span></label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              nzSize="small"
                              [nzAutoFocus]="true"
                              [nzMode]="'date'"
                              [(ngModel)]="searchModel.fromDate"
                              (input)="onFromDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="fromDate" id="fromDate" #fromDatePicker></nz-date-picker>
            </div>
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="toDate">Đến ngày<span
              class="font-weight-bold text-danger">(*)</span></label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              nzSize="small"
                              [nzMode]="'date'"
                              [(ngModel)]="searchModel.toDate"
                              (input)="onToDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="toDate" id="toDate" #toDatePicker></nz-date-picker>
            </div>
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="documentCode">Văn bản ban hành</label>
            <div class="col-lg-2 col-md-4">
              <nz-select nzSize="small" [(ngModel)]="searchModel.documentCode" id="documentCode" name="documentCode"
                         nzAllowClear nzPlaceHolder="Chọn văn bản">
                <nz-option nzLabel="Kháng nghị" nzValue="1"></nz-option>
                <nz-option nzLabel="Kiến nghị" nzValue="2"></nz-option>
                <nz-option nzLabel="Thông báo rút kinh nghiệm" nzValue="3"></nz-option>
                <nz-option nzLabel="Yêu cầu" nzValue="4"></nz-option>
                <nz-option nzLabel="Khác" nzValue="99"></nz-option>
              </nz-select>
            </div>
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="resultCode">Kết quả thực hiện</label>
            <div class="col-lg-2 col-md-4">
              <nz-select nzSize="small" [(ngModel)]="searchModel.resultCode" id="resultCode" name="resultCode"
                         nzAllowClear nzPlaceHolder="Chọn kết quả">
                <nz-option nzLabel="Chấp nhận" nzValue="1"></nz-option>
                <nz-option nzLabel="Chấp nhận một phần" nzValue="2"></nz-option>
                <nz-option nzLabel="Không chấp nhận" nzValue="3"></nz-option>
                <nz-option nzLabel="Không chấp nhận một phần" nzValue="4"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="unitId">Đơn vị
              <span
                class="font-weight-bold text-danger">(*)</span></label>
            <div class="col-lg-2 col-md-4">
              <nz-select nzSize="small" class="" #sppIdSelect
                         [(ngModel)]="searchModel.unitId"
                         nzPlaceHolder="Chọn Đơn vị"
                         nzAllowClear
                         name="unitId"
                         id="unitId"
                         nzShowSearch
                         [nzDropdownRender]="renderTemplate">
                <nz-option *ngFor="let o of listSpp" [nzValue]="o.sppId" [nzLabel]="o.name"></nz-option>
              </nz-select>
            </div>
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="violatedAgency">Cơ quan vi phạm</label>
            <div class="col-lg-2 col-md-4">
              <nz-select nzSize="small" [(ngModel)]="searchModel.violatedAgency" id="violatedAgency" name="violatedAgency" nzPlaceHolder="Chọn cơ quan" (ngModelChange)="onViolatedAgencyChange($event)" nzAllowClear>
                <nz-option [nzValue]="'02'" nzLabel="Công an"></nz-option>
                <nz-option [nzValue]="'04'" nzLabel="Quân đội"></nz-option>
                <nz-option [nzValue]="'06'" nzLabel="Hải quan"></nz-option>
                <nz-option [nzValue]="'08'" nzLabel="Kiểm lâm"></nz-option>
                <nz-option [nzValue]="'09'" nzLabel="Bộ đội biên phòng"></nz-option>
                <nz-option [nzValue]="'10'" nzLabel="Cảnh sát biển"></nz-option>
                <nz-option [nzValue]="'12'" nzLabel="Cơ quan khác"></nz-option>
                <nz-option [nzValue]="'SPP'" nzLabel="Viện kiểm sát"></nz-option>
                <nz-option [nzValue]="'SPC'" nzLabel="Tòa án"></nz-option>
              </nz-select>
            </div>
            <label *ngIf="!isDataLoaded" class="col-lg-1 col-md-2 col-form-label text-left" >Đơn vị vi phạm</label>
            <div *ngIf="!isDataLoaded" class="col-lg-2 col-md-4">
              <nz-select nzSize="small" class=""
                         [(ngModel)]="searchModel.violatedUnitsId"
                         nzPlaceHolder="Chọn Đơn vị"
                         (nzOpenChange)="handleOpenChange($event)"
                         name="violatedUnitsId"
                         [nzDropdownRender]="renderTemplate">
              </nz-select>
            </div>
            <label *ngIf="isDataLoaded === '02'" class="col-lg-1 col-md-2 col-form-label text-left" >Đơn vị vi phạm</label>
            <div *ngIf="isDataLoaded === '02'" class="col-lg-2 col-md-4">
              <nz-select nzSize="small" class=""
                         [(ngModel)]="searchModel.violatedUnitsId"
                         nzPlaceHolder="Chọn Đơn vị"
                         nzAllowClear
                         nzShowSearch
                         nzServerSearch
                         name="violatedUnitsId"
                         (nzScrollToBottom)="loadMorePolice(searchPoliceChange$.getValue())"
                         (ngModelChange)="onPoliceChange($event)"
                         [nzDropdownRender]="renderTemplate"
                         (nzOnSearch)="onSearchPoliceFromServer($event)">
                <nz-option *ngFor="let o of lstPolices" [nzValue]="o.policeId" [nzLabel]="o.name"></nz-option>
              </nz-select>
            </div>
            <label *ngIf="isDataLoaded === '04'" class="col-lg-1 col-md-2 col-form-label text-left">Đơn vị vi phạm</label>
            <div *ngIf="isDataLoaded === '04'" class="col-lg-2 col-md-4">
              <nz-select nzSize="small" class=""
                         [(ngModel)]="searchModel.violatedUnitsId"
                         nzPlaceHolder="Chọn Đơn vị"
                         nzAllowClear
                         nzShowSearch
                         nzServerSearch
                         name="violatedUnitsId"
                         (nzScrollToBottom)="loadMoreArmy(searchArmyChange$.getValue())"
                         (ngModelChange)="onArmyChange($event)"
                         [nzDropdownRender]="renderTemplate"
                         (nzOnSearch)="onSearchArmyFromServer($event)">
                <nz-option *ngFor="let o of lstArmies" [nzValue]="o.armyid" [nzLabel]="o.name"></nz-option>
              </nz-select>
            </div>
            <label *ngIf="isDataLoaded === '06'" class="col-lg-1 col-md-2 col-form-label text-left">Đơn vị vi phạm</label>
            <div *ngIf="isDataLoaded === '06'" class="col-lg-2 col-md-4">
              <nz-select nzSize="small" class=""  [(ngModel)]="searchModel.violatedUnitsId"
                         nzPlaceHolder="Chọn Đơn vị"
                         nzAllowClear
                         nzShowSearch
                         nzServerSearch
                         name="violatedUnitsId"
                         (nzScrollToBottom)="loadMoreCustoms(searchCustomsChange$.getValue())"
                         (ngModelChange)="onCustomsChange($event)"
                         [nzDropdownRender]="renderTemplate"
                         (nzOnSearch)="onSearchCustomsFromServer($event)">
                <nz-option *ngFor="let o of lstCustoms" [nzValue]="o.customid" [nzLabel]="o.name"></nz-option>
              </nz-select>
            </div>
            <label *ngIf="isDataLoaded === '08'" class="col-lg-1 col-md-2 col-form-label text-left">Đơn vị vi phạm</label>
            <div *ngIf="isDataLoaded === '08'" class="col-lg-2 col-md-4">
              <nz-select nzSize="small" class="" [(ngModel)]="searchModel.violatedUnitsId"
                         nzPlaceHolder="Chọn Đơn vị"
                         nzAllowClear
                         nzShowSearch
                         nzServerSearch
                         name="violatedUnitsId"
                         (nzScrollToBottom)="loadMoreRanger(searchRangerChange$.getValue())"
                         (ngModelChange)="onRangerChange($event)"
                         [nzDropdownRender]="renderTemplate"
                         (nzOnSearch)="onSearchRangerFromServer($event)">
                <nz-option *ngFor="let o of lstRanger" [nzValue]="o.rangid" [nzLabel]="o.name"></nz-option>
              </nz-select>
            </div>
            <label *ngIf="isDataLoaded === '09'" class="col-lg-1 col-md-2 col-form-label text-left">Đơn vị vi phạm</label>
            <div *ngIf="isDataLoaded === '09'" class="col-lg-2 col-md-4">
              <nz-select nzSize="small" class=""
                         [(ngModel)]="searchModel.violatedUnitsId"
                         nzPlaceHolder="Chọn Đơn vị"
                         nzAllowClear
                         nzShowSearch
                         nzServerSearch
                         name="violatedUnitsId"
                         (nzScrollToBottom)="loadMoreBorderGuards(searchBorderGuardsChange$.getValue())"
                         (ngModelChange)="onBorderGuardsChange($event)"
                         [nzDropdownRender]="renderTemplate"
                         (nzOnSearch)="onSearchBorderGuardsFromServer($event)">
                <nz-option *ngFor="let o of lstBorderGuards" [nzValue]="o.borguaid" [nzLabel]="o.name"></nz-option>
              </nz-select>
            </div>
            <label *ngIf="isDataLoaded === 'SPP'" class="col-lg-1 col-md-2 col-form-label text-left">Đơn vị vi phạm</label>
            <div *ngIf="isDataLoaded === 'SPP'" class="col-lg-2 col-md-4">
              <nz-select nzSize="small" class=""
                         [(ngModel)]="searchModel.violatedUnitsId"
                         nzPlaceHolder="Chọn Đơn vị"
                         nzAllowClear
                         nzShowSearch
                         name="violatedUnitsId">
                <nz-option *ngFor="let o of listSpp" [nzValue]="o.sppId" [nzLabel]="o.name"></nz-option>
              </nz-select>
            </div>
            <label *ngIf="isDataLoaded === 'SPC'" class="col-lg-1 col-md-2 col-form-label text-left">Đơn vị vi phạm</label>
            <div *ngIf="isDataLoaded === 'SPC'" class="col-lg-2 col-md-4">
              <nz-select nzSize="small" class=""  [(ngModel)]="searchModel.violatedUnitsId"
                         nzPlaceHolder="Chọn Đơn vị"
                         nzAllowClear
                         nzShowSearch
                         nzServerSearch
                         name="violatedUnitsId"
                         (nzScrollToBottom)="loadMoreSPC(searchSPCChange$.getValue())"
                         (ngModelChange)="onSPCChange($event)"
                         [nzDropdownRender]="renderTemplate"
                         (nzOnSearch)="onSearchSPCFromServer($event)">
                <nz-option *ngFor="let o of lstSPC" [nzValue]="o.spcid" [nzLabel]="o.name"></nz-option>
              </nz-select>
            </div>
            <label *ngIf="isDataLoaded === '10'" class="col-lg-1 col-md-2 col-form-label text-left">Đơn vị vi phạm</label>
            <div *ngIf="isDataLoaded === '10'" class="col-lg-2 col-md-4">
              <nz-select nzSize="small" class=""  [(ngModel)]="searchModel.violatedUnitsId"
                         nzPlaceHolder="Chọn Đơn vị"
                         nzAllowClear
                         nzShowSearch
                         nzServerSearch
                         name="violatedUnitsId">
              </nz-select>
            </div>
            <label *ngIf="isDataLoaded === '12'" class="col-lg-1 col-md-2 col-form-label text-left">Đơn vị vi phạm</label>
            <div *ngIf="isDataLoaded === '12'" class="col-lg-2 col-md-4">
              <nz-select nzSize="small" class=""  [(ngModel)]="searchModel.violatedUnitsId"
                         nzPlaceHolder="Chọn Đơn vị"
                         nzAllowClear
                         nzShowSearch
                         nzServerSearch
                         name="violatedUnitsId">
              </nz-select>
            </div>
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="documentNumber">Số VB ban hành</label>
            <div class="col-lg-2 col-md-4">
              <input nz-input nzSize="small" type="text" id="documentNumber" name="documentNumber" class="border-success"
                     placeholder="Chọn số văn bản" [(ngModel)]="searchModel.documentNumber">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="documentFromDate">Ngày ban hành từ</label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              nzSize="small"
                              [nzMode]="'date'"
                              [(ngModel)]="searchModel.documentFromDate"
                              (input)="onDocumentFromDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="documentFromDate" id="documentFromDate"></nz-date-picker>
            </div>
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="documentToDate">Ngày ban hành đến</label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              nzSize="small"
                              [nzMode]="'date'"
                              [(ngModel)]="searchModel.documentToDate"
                              (input)="onDocumentToDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="documentToDate" id="documentToDate"></nz-date-picker>
            </div>
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="resultNumber">Số kết quả</label>
            <div class="col-lg-2 col-md-4">
              <input nz-input nzSize="small" type="text" id="resultNumber" name="resultNumber" class="border-success"
                     placeholder="Chọn số văn bản" [(ngModel)]="searchModel.resultNumber">
            </div>
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="resultFromDate">Ngày ra KQ từ</label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              nzSize="small"
                              [nzMode]="'date'"
                              [(ngModel)]="searchModel.resultFromDate"
                              (input)="onResultFromDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="resultFromDate" id="resultFromDate"></nz-date-picker>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="resultToDate">Ngày ra KQ đến</label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              nzSize="small"
                              [nzMode]="'date'"
                              [(ngModel)]="searchModel.resultToDate"
                              (input)="onResultToDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="resultToDate" id="resultToDate"></nz-date-picker>
            </div>
          </div>
        </form>
      </div>
<!--      <div class="card-footer text-center">-->
<!--        <button type="button" class="btn btn-success" (click)="onSearch()"><i class="fa fa-search"></i> Xem</button>-->
<!--        <button type="button" class="btn btn-primary" (click)="exportExcel()">Kết xuất Excel</button>-->
<!--        <button type="button" class="btn btn-info" (click)="exportDocx()">Kết xuất Docx</button>-->
<!--        <button type="button" class="btn btn-warning" (click)="exportPdf()">Kết xuất PDF</button>-->
<!--      </div>-->
    </div>


    <div class="card bg-default">
      <div class="w-100 card-header card-header-btn d-flex flex-row align-items-center">
        <div class="w-50 card-title">
          <i class="fa fa-list"></i> <strong>Kết quả báo cáo</strong>
        </div>
        <div class="w-50 text-right">
          <button type="button" class="btn btn-success mr-1 btn-sm" (click)="onSearch()"><i class="fa fa-search"></i> Xem</button>
          <button [disabled]="!btnDisable" type="button" class="btn btn-primary mr-1 btn-sm" (click)="exportExcel()" nz-tooltip nzTooltipTitle="Kết xuất Excel">
            <i class="align-middle" nz-icon nzType="file-excel" nzTheme="outline"></i> Excel
          </button>
          <button [disabled]="!btnDisable" type="button" class="btn btn-info mr-1 btn-sm" (click)="exportDocx()" nz-tooltip nzTooltipTitle="Kết xuất Docx">
            <i class="align-middle" nz-icon nzType="file-word" nzTheme="outline"></i> Docx
          </button>
          <button [disabled]="!btnDisable" type="button" class="btn btn-warning mr-3 btn-sm" (click)="exportPdf()" nz-tooltip nzTooltipTitle="Kết xuất PDF">
            <i class="align-middle" nz-icon nzType="file-pdf" nzTheme="outline"></i> PDF
          </button>
        </div>
      </div>
      <div class="card-body">
        <form id="form-zone">
          <div class="table-responsive">
            <nz-table class="table-striped table-bordered table-hover" [nzData]="['']"
                      [nzFrontPagination]="false"
                      [nzScroll]="{x: '2500px', y: '400px' }" nzTableLayout="fixed">
              <thead>
              <tr>
                <ng-container *ngFor="let colsTable of colsTable">
                  <th nzEllipsis class="text-center" nz-tooltip nzTooltipTitle="{{ colsTable.title }}"
                      nz-resizable
                      nzPreview
                      [nzWidth]="colsTable.width"
                      (nzResizeEnd)="onResize($event, colsTable.title)">
                    <a class="font-weight-bold text-primary text-center">{{ colsTable.title }}
                    </a>
                    <nz-resize-handle nzDirection="right">
                      <div class="resize-trigger"></div>
                    </nz-resize-handle>
                  </th>
                </ng-container>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let item of listReport | paginate:{ itemsPerPage: pageSize, currentPage: currentPage, totalItems:totalRecords }; let i = index">
                <td class="text-center">{{item.stt}}</td>
                <td class="text-left">{{item.s_column_2}}</td>
                <td class="text-left">{{item.s_column_3}}</td>
                <td class="text-left">{{item.s_column_4}}</td>
                <td class="text-left">{{item.s_column_5}}</td>
                <td class="text-left">{{item.s_column_6}}</td>
                <td class="text-left">{{item.s_column_7}}</td>
                <td class="text-left">{{item.s_column_8}}</td>
                <td class="text-left">{{item.s_column_9}}</td>
                <td class="text-left">{{item.s_column_10}}</td>
                <td class="text-left">{{item.s_column_11}}</td>
                <td class="text-left">
                  <div class="editable-cell" *ngIf="!item.s_column_12" [hidden]="editId === item.n_violation_id" (click)="startEdit(item.n_violation_id)">
                    <span class="text-muted">Nhấn vào để thêm ghi chú</span>
                  </div>
                  <div class="editable-cell" *ngIf="item.s_column_12" [hidden]="editId === item.n_violation_id" (click)="startEdit(item.n_violation_id)">
                    {{ item.s_column_12 }}
                  </div>
                  <nz-form-item [hidden]="editId !== item.n_violation_id">
                    <nz-form-control nzErrorTip="Vui lòng nhập nội dung Ghi chú">
                      <nz-textarea-count [nzMaxCharacterCount]="200">
                        <textarea id="note" rows="4" nz-input [(ngModel)]="item.s_column_12"
                                  [ngModelOptions]="{standalone: true}" (blur)="stopEdit(item)"></textarea>
                      </nz-textarea-count>
                    </nz-form-control>
                  </nz-form-item>
                </td>
              </tr>
              </tbody>
              <!--END TABLE BODY-->
            </nz-table>
          </div>
        </form>

        <!--BEGIN PAGINATION-->
        <div class="row">
          <div id="pageSize" class="col-sm-4 text-left">Số bản ghi
            <select class="col-sm-3 text-left border-primary" name="pageSize" [(ngModel)]="pageSize" (ngModelChange)="onPageChange(1)">
              <option value="10">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          <div class="col-sm-6 text-left">
            <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
          </div>
          <div id="NumberOfRecords" class="col-sm-2 text-right">Tổng số bản ghi
            <strong>{{(totalRecords ? totalRecords : 0) | number}}</strong></div>
        </div>
        <!--END PAGINATION-->
      </div>
    </div>
  </div>
</div>

<ng-template #renderTemplate>
  <nz-spin *ngIf="isLoading"></nz-spin>
</ng-template>
