<nz-modal nzWidth="1000px"
          [(nzVisible)]="isVisible"
          nzClosable="false"
          [nzTitle]="title"
          [nzAutofocus]="null"
          nzMaskClosable="false">
  <ng-template #title>
    Thêm mới người xử lý
    <div class="pull-right icon-close" (click)="handleCancel()" style="cursor: pointer;">
    </div>
  </ng-template>

  <div>
    <div class="ui-fieldset-content ant-advanced-search-form">
      <ng-container>
        <table width="100%" class="ui-panelgrid table-4-col">
          <tr>
            <td>
              <label>Mã người xử lý</label>
            </td>
            <td>
              <input disabled [(ngModel)]="data.INSPCODE" nz-input
                     placeholder="Mã người xử lý">
            </td>
            <td>
              <label>Tên người xử lý<span class="required">*</span></label>
            </td>
            <td>
              <input class="form-control border-success" placeholder="Tên người xử lý" [(ngModel)]="data.FULLNAME">
            </td>
          </tr>
          <tr>
            <td>
              <label>Vị trí công tác<span class="required">*</span></label>
            </td>
            <td><label nz-checkbox [(ngModel)]="data.ks">
              Kiểm sát viên
            </label></td>
            <td>
              <label nz-checkbox [(ngModel)]="data.dt">
                Điều tra viên
              </label>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <label nz-checkbox [(ngModel)]="data.ld">
                Lãnh đạo
              </label>
            </td>
            <td>
              <label nz-checkbox [(ngModel)]="data.kh">
                Khác
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="text-right">Địa chỉ</label>
            </td>
            <td>
              <input [(ngModel)]="data.ADDRESS" class="form-control border-success" placeholder="Địa chỉ">
            </td>
            <td>
              <label>Số điện thoại</label>
            </td>
            <td>
              <input class="form-control border-success" placeholder="Số điện thoại" [(ngModel)]="data.TEL">
            </td>
          </tr>
          <tr>
            <td>
              <label class="text-right">Chức vụ</label>
            </td>
            <td>
              <input [(ngModel)]="data.JOBTITLE" class="form-control border-success" placeholder="Chức vụ">
            </td>
            <td>
              <label>Trạng thái làm việc<span class="required">*</span></label>
            </td>
            <nz-radio-group (ngModelChange)="changStatus()" [(ngModel)]="data.STATUS" nzName="radiogroup">
              <label nz-radio nzValue="Y">Có</label>
              <label nz-radio nzValue="N">Không</label>
            </nz-radio-group>
          </tr>
          <tr>
            <td>
              <label class="text-right">Tên VKS<span class="required">*</span></label>
            </td>
            <td>
              <nz-select [(ngModel)]="data.SPPID" nzAllowClear nzShowSearch (ngModelChange)="onInputSppIsDepart()">
                <nz-option *ngFor="let option of lstSpp" [nzLabel]="option.NAME"
                           [nzValue]="option.SPPID">{{ option.SPPID }} - {{ option.NAME }}</nz-option>
              </nz-select>
            </td>
            <td>
              <label>Phòng ban</label>
            </td>
            <td>
              <nz-select [(ngModel)]="data.DEPART" nzAllowClear nzShowSearch>
                <nz-option *ngFor="let option of lstSppIsDepart" [nzLabel]="option.NAME"
                           [nzValue]="option.SPPID">{{ option.SPPID }} - {{ option.NAME }}</nz-option>
              </nz-select>
            </td>
          </tr>
        </table>
      </ng-container>
    </div>
  </div>

  <div *nzModalFooter>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="handleOk()">
        <span class="fa fa-fw fa-save"></span>Ghi lại
      </button>
      <button nz-button [nzType]="'primary'" (click)="handleCancel()">
        <span class="fa fa-fw fa-arrow-left"></span>Quay lại
      </button>
    </div>
  </div>
</nz-modal>
