<div class="animated fadeIn">
  <div class="page-header">

    <div class="form-row align-items-center ">
      <div class="col-sm-3 my-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Mã ngân hàng</div>
          </div>
          <input type="text" class="form-control border-success" (keydown.enter)="onSearch()"
                 [(ngModel)]="searchModel.code" (ngModelChange)="searchModel.code = $event.toUpperCase()">
        </div>
      </div>
      <div class="col-sm-3 my-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Tên ngân hàng</div>
          </div>
          <input type="text" class="form-control border-success" (keydown.enter)="onSearch()"
                 [(ngModel)]="searchModel.name">
        </div>
      </div>
      <div class="col-sm-3 my-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Trạng thái</div>
          </div>
          <select class="form-control border-success" [(ngModel)]="searchModel.status">
            <option value="-1">--Tất cả--</option>
            <option value="1">Hoạt động</option>
            <option value="0">Không hoạt động</option>
          </select>
        </div>
      </div>
      <div class="col-auto my-1">
        <button type="button" class="btn btn-primary" (click)="onSearch()">Tìm kiếm</button>
      </div>
    </div>


    <div class="card bg-default">
      <div class="card-header card-header-btn d-flex flex-row align-items-center">
        <div class="card-title">
          <i class="fa fa-list"></i> Danh sách ngân hàng
        </div>
        <div class="header-button ml-lg-5">
          <a (click)="addData()" data-toggle="tooltip" title="Thêm mới nhóm chức năng"
             class="btn btn-outline-primary btn-md mr-2 ">
            <i class="fa fa-plus"></i> Thêm mới
          </a>
        </div>
      </div>
      <div class="card-body">
        <form id="form-zone">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <!--TABLE HEADER-->
              <thead>
              <tr>
                <td class="text-center" style="width: 2%">
                  <a class="font-weight-bold text-primary">Mã ngân hàng</a>
                </td>
                <td class="text-center" style="width: 10%">
                  <a class="font-weight-bold text-primary">Tên ngân hàng</a>
                </td>
                <td class="text-center" style="width: 10%">
                  <a class="font-weight-bold text-primary">Tên ngân hàng (tiếng anh)</a>
                </td>
                <td class="text-center" style="width: 10%">
                  <a class="font-weight-bold text-primary">Mã swift code</a>
                </td>
                <td class="text-center" style="width: 10%">
                  <a class="font-weight-bold text-primary">Tên viết tắt</a>
                </td>
                <td class="text-center" style="width: 2%">
                  <a class="font-weight-bold text-primary">Trạng thái</a>
                </td>
                <td class="text-center" style="width: 5%">
                  <a class="font-weight-bold text-primary">Thời gian tạo</a>
                </td>
                <td class="text-center" style="width: 3%">
                  <a class="font-weight-bold text-primary">Chi tiết</a>
                </td>
              </tr>
              </thead>
              <!--END TABLE HEADER-->

              <!--TABLE BODY-->
              <tbody>
              <tr
                *ngFor="let item of listData | paginate:{ itemsPerPage: 10, currentPage: currentPage, totalItems:totalRecords }">
                <td class="text-center">{{item.code}}</td>
                <td class="text-left">{{item.name}}</td>
                <td class="text-left">{{item.nameEn}}</td>
                <td class="text-left">{{item.swiftCode}}</td>
                <td class="text-left">{{item.alias}}</td>
                <td class="text-center">
                  <label data-toggle="tooltip" title="{{item.status === 1 ? 'Dừng hoạt động' : 'Bật hoạt động'}}"
                         class="switch switch-label switch-pill switch-outline-warning-alt">
                    <input type="checkbox" class="switch-input" checked *ngIf="item.status === 1"
                           (click)="changeStatus(item)">
                    <input type="checkbox" class="switch-input" unchecked *ngIf="item.status === 0"
                           (click)="changeStatus(item)">
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                  </label>
                </td>
                <td class="text-center">{{item.createdAt}}</td>
                <td class="text-center">
                  <a (click)="editData(item)" data-toggle="tooltip" title="Sửa"
                     class="btn btn-outline-success btn-sm mr-2 w-15">
                    <i class="fa fa-fw fa-pencil-square-o"></i>
                  </a>
                </td>

              </tr>
              </tbody>
              <!--END TABLE BODY-->
            </table>
          </div>
        </form>

        <!--BEGIN PAGINATION-->
        <div class="row">
          <div class="col-sm-6 text-left">
            <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
          </div>
          <div id="NumberOfRecords" class="col-sm-6 text-right">Tổng số bản ghi
            <strong>{{(totalRecords ? totalRecords : 0) | number}}</strong></div>
        </div>
        <!--END PAGINATION-->

      </div>
    </div>
  </div>


  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
      <p>Are you sure ?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger btn-sm" (click)="c('Delete Click')">Delete</button>
      <button type="button" class="btn btn-light btn-sm" (click)="c('Cancel Click')">Cancel</button>
    </div>
  </ng-template>
</div>
