<nz-modal class="ant-form"
          nzWidth="700px" [(nzVisible)]="isVisible" nzClosable="false" [nzTitle]="title" nzMaskClosable="false">
  <ng-template #title>
    Đổi mật khẩu
    <div class="pull-right">
      <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
    </div>
  </ng-template>
  <form nz-form [formGroup]="formData">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Tên đăng nhập <span
        class="font-weight-bold text-danger">(*)</span></label>
      <div class="col-md-9">
        <input type="text" class="form-control border-success"
               placeholder="Tên đăng nhập" formControlName="username">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Mật khẩu cũ <span
        class="font-weight-bold text-danger">(*)</span></label>
      <div class="col-md-9">
        <input type="password" class="form-control border-success" nz-input
               placeholder="Nhập mật khẩu cũ" value="passwordOld" formControlName="passwordOld">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Mật khẩu mới <span
        class="font-weight-bold text-danger">(*)</span></label>
      <div class="col-md-9">
        <input type="password" class="form-control border-success" nz-input
               placeholder="Nhập mật khẩu mới" value="passwordNew" formControlName="passwordNew" (blur)="checkPasswork()">
        <control-messages [submited]="submited" [control]="formData.controls.passwordNew"></control-messages>
        <ng-container *ngIf="formData.controls.passwordNew.hasError('error')">
          <small class="errorPass">Mật khẩu phải có ít nhất 8 ký tự, gồm ít nhất 4 yếu tố: Chữ hoa, chữ thường, chữ số và ký tự đặc biệt!</small>
        </ng-container>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Nhập lại mật khẩu <span
        class="font-weight-bold text-danger">(*)</span></label>
      <div class="col-md-9">
        <input type="password" class="form-control border-success" nz-input
               placeholder="Nhập lại mật khẩu" value="againtPasswork" formControlName="againtPasswork" (blur)="checkPassworkAgaint()">
        <control-messages [submited]="submited" [control]="againtPasswork"></control-messages>
        <ng-container *ngIf="formData.controls.againtPasswork.hasError('error')">
          <small class="errorPass">Mật khẩu không trùng khớp!</small>
        </ng-container>
      </div>
    </div>
  </form>

  <div *nzModalFooter>
    <div nz-col [nzSpan]="24" class="search-area">
      <button type="button" class="btn btn-primary mr-1 btn-sm" (click)="onSubmit()"><i class="icon-login"></i> Ghi lại</button>
      <button type="button" class="btn btn-primary mr-1 btn-sm" (click)="handleCancel()"><i class="fa fa-fw fa-arrow-left"></i>Quay lại</button>
    </div>
  </div>
</nz-modal>
