<div class="modal-header">
  <h5 class="modal-title"><i class="fa icon-plus"></i> Thôn xóm - Tổ dân phố</h5>
  <button type="button" class="close" (click)="closeDialog()" aria-label="Close">
    <span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span>
  </button>
</div>
<form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="code">Tỉnh thành phố <span
        class="font-weight-bold text-danger">(*)</span></label>
      <div class="col-md-9">
        <select id="selectProvince" name="selectProvince" class="form-control border-success"
                formControlName="provinceCode"
                (change)='getDistrictListData($event.target.value)'>
          <option *ngFor="let opt of provinceList" [value]="opt.code">{{opt.code}} - {{opt.name}}</option>
        </select>
        <control-messages [submited]="submited" [control]="formData.controls.provinceCode"></control-messages>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="code">Tỉnh quận huyện <span
        class="font-weight-bold text-danger">(*)</span></label>
      <div class="col-md-9">
        <select id="selectDistrict" name="selectDistrict" class="form-control border-success"
                formControlName="districtCode"
                (change)='getCommuneListData($event.target.value)'>
          <option *ngFor="let opt of districtList" [value]="opt.code">{{opt.code}} - {{opt.name}}</option>
        </select>
        <control-messages [submited]="submited" [control]="formData.controls.districtCode"></control-messages>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="code">Phường xã <span
        class="font-weight-bold text-danger">(*)</span></label>
      <div class="col-md-9">
        <select id="selectCommune" name="selectCommune" class="form-control border-success"
                formControlName="communeCode">
          <option *ngFor="let opt of communeList" [value]="opt.code">{{opt.code}} - {{opt.name}}</option>
        </select>
        <control-messages [submited]="submited" [control]="formData.controls.communeCode"></control-messages>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="code">Mã thôn xóm <span
        class="font-weight-bold text-danger">(*)</span></label>
      <div class="col-md-9">
        <input type="text" id="code" class="form-control border-success"
               placeholder="Mã thôn xóm" name="code" value="code" formControlName="code">
        <control-messages [submited]="submited" [control]="formData.controls.code"></control-messages>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="name">Tên thôn xóm <span
        class="font-weight-bold text-danger">(*)</span></label>
      <div class="col-md-9">
        <input type="text" id="name" class="form-control border-success"
               placeholder="Tên thôn xóm" name="name" value="name" formControlName="name">
        <control-messages [submited]="submited" [control]="formData.controls.name"></control-messages>
      </div>
    </div>
    <div class="form-group row" *ngIf="editData && editData.id">
      <label class="col-md-3 col-form-label" for="status">Trạng thái <span
        class="font-weight-bold text-danger">(*)</span></label>
      <div class="col-md-9">
        <select class="form-control border-success" formControlName="status" id="status">
          <option value="0">Không hoạt động</option>
          <option value="1">Hoạt động</option>
        </select>
        <control-messages [submited]="submited" [control]="formData.controls.status"></control-messages>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="text-center">
      <button type="button" class="btn btn-secondary" (click)="closeDialog()"><i class="fa fa-times-circle-o"></i> Đóng
      </button>
      <c-button type="submit" className="btn btn-primary" iconClassName="fa fa-floppy-o" label="Lưu"
                [loading]="isLoading"></c-button>
    </div>
  </div>
</form>
