<c-spinner [show]="inProgress" [fullScreen]="true"></c-spinner>

<div class="container px-4 py-5 mx-auto vertical-center">
  <div class="card card0">
    <div class="d-flex flex-lg-row flex-column">
      <div class="card card1">
        <div class="row justify-content-center my-auto">
          <div class="col-md-8 col-10 my-5">
            <div class="row justify-content-center px-3 mb-3">
              <img id="logo" src="/assets/img/brand/logo_vks_173x200.svg" style="width: 113px; height: 140px">
            </div>
            <h3 class="mb-5 text-center heading">Quên mật khẩu</h3>
            <h6 class="msg-info">Nhập thông tin xác thực để lấy lại mật khẩu</h6>
            <div class="form-group input-group">
              <input type="text" class="form-control border-success" placeholder="Tên đăng nhập" autocomplete="username"
                     [(ngModel)]="modelForgotPassword.username" required name="username">
            </div>
            <div class="form-group input-group">
              <input type="email" class="form-control border-success" placeholder="Email" autocomplete="email" required
                     [(ngModel)]="modelForgotPassword.email" name="email">
            </div>
            <div class="row justify-content-center my-3 px-3">
              <button class="btn-block btn-color" (click)="resetPassword()"><i class="icon-login"></i> Lấy lại mật khẩu
              </button>
            </div>
          </div>
        </div>
        <div class="bottom text-center mb-5">
          <p href="#" class="sm-text mx-auto mb-3">Bạn đã nhớ lại mật khẩu tài khoản?
            <button class="btn btn-white ml-2" (click)="nagivateLogin()">Đăng nhập</button>
          </p>
        </div>
      </div>
      <div class="card card2 hidden-phone hidden-tablet">
        <div class="my-auto mx-md-5 px-md-5 right">
          <h3 class="text-white">BITSCO - Đội ngũ phát triển,</h3>
          <small class="text-white">Phần mềm quản lý án của Viện kiểm sát nhân dân tối cao.</small>
          <br>
          <!--          <small class="text-white">-->
          <!--            </small>-->
          <!--          <br>-->
          <div class="text-white text-right">
            <small class="text-white text-right"><strong><em>Đơn giản, dễ dàng và hiệu quả</em></strong></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
