<nz-modal *ngIf="data" class="ant-form"
          nzWidth="1000px" [(nzVisible)]="isVisible" nzClosable="false" [nzTitle]="title" nzMaskClosable="false">
  <ng-template #title>
    Thông tin chi tiết
    <div class="pull-right icon-close">
      <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
    </div>
  </ng-template>
  <div class="data-table">
    <nz-table class="w-100"
              [nzNoResult]="noResultTpl"
              nzSize="small">
      <thead>
      <tr>
        <th class="text-nowrap" nzWidth="30%">Thông tin</th>
        <th class="text-nowrap" nzWidth="70%">Chi tiết</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          Mã người xử lý
        </td>
        <td>
          {{data.INSPCODE}}
        </td>
      </tr>
      <tr>
        <td>
          Mã VKS
        </td>
        <td>
          {{data.SPPID}}
        </td>
      </tr>
      <tr>
        <td>
          Tên VKS
        </td>
        <td>
          {{data.NAME}}
        </td>
      </tr>
      <tr>
        <td>
          Phòng ban
        </td>
        <td>
          {{data.DEPARTNAME}}
        </td>
      </tr>
      <tr>
        <td>
          Tên người xử lý
        </td>
        <td>
          {{data.FULLNAME}}
        </td>
      </tr>
      <tr>
        <td>
          Địa chỉ
        </td>
        <td>
          {{data.ADDRESS}}
        </td>
      </tr>
      <tr>
        <td>
          Số điện thoại
        </td>
        <td>
          {{data.TEL}}
        </td>
      </tr>
      <tr>
        <td>
          Chức vụ
        </td>
        <td>
          {{data.JOBTITLE}}
        </td>
      </tr>
      <tr>
        <td>
          Trạng thái làm việc
        </td>
        <td>
          {{data.STATUS === 'Y' ? 'Có' : 'Không'}}
        </td>
      </tr>
      <tr>
        <td>
          Vị trí công tác
        </td>
        <td>
          {{ data.POSITION}}
        </td>
      </tr>
      <tr>
        <td>
          Người tạo
        </td>
        <td>
          {{data.CRTUSER}}
        </td>
      </tr>
      <tr>
        <td>
          Ngày tạo
        </td>
        <td>
          {{data.CRTDATE |  date:'dd/MM/yyyy'}}
        </td>
      </tr>
      <tr>
        <td>
          Người sửa cuối
        </td>
        <td>
          {{data.MDFUSER}}
        </td>
      </tr>
      <tr>
        <td>
          Ngày sửa cuối
        </td>
        <td>
          {{ data.MDFDATE |  date:'dd/MM/yyyy'}}
        </td>
      </tr>
      </tbody>
    </nz-table>
    <ng-template #noResultTpl>
    </ng-template>
  </div>
  <div *nzModalFooter>
  </div>
</nz-modal>
