<c-spinner [show]="inProgress" [fullScreen]="true"></c-spinner>
<div class="animated fadeIn">
  <div class="page-header">
    <div class="card my-2 bg-default">
      <div class="card-body p-2">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="fromDate">Từ ngày<span
              class="font-weight-bold text-danger">(*)</span></label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              nzSize="small"
                              [nzAutoFocus]="true"
                              [nzMode]="'date'"
                              [(ngModel)]="searchModel.fromDate"
                              (input)="onFromDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="fromDate" id="fromDate" #fromDatePicker></nz-date-picker>
            </div>
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="toDate">Đến ngày<span
              class="font-weight-bold text-danger">(*)</span></label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              nzSize="small"
                              [nzMode]="'date'"
                              [(ngModel)]="searchModel.toDate"
                              (input)="onToDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="toDate" id="toDate" #toDatePicker></nz-date-picker>
            </div>
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="unitId">Đơn vị
              <span
                class="font-weight-bold text-danger">(*)</span></label>
            <div class="col-lg-2 col-md-4">
              <nz-select class="" #sppIdSelect nzSize="small"
                         [(ngModel)]="searchModel.sppId"
                         nzPlaceHolder="Chọn Đơn vị"
                         nzAllowClear
                         name="unitId"
                         id="unitId"
                         nzShowSearch
                         [nzDropdownRender]="renderTemplate">
                <nz-option *ngFor="let o of listSpp" [nzValue]="o.sppId" [nzLabel]="o.name"></nz-option>
              </nz-select>
            </div>
            <label class="pt-0 col-lg-1 col-md-2 col-form-label text-left" for="resultCode">Kết quả xử lý</label>
            <div class="col-lg-2 col-md-4">
              <nz-select [(ngModel)]="searchModel.resultCode" nzSize="small"
                         name="resultCode" id="resultCode"
                         nzPlaceHolder="Chọn kết quả" nzAllowClear>
                <nz-option [nzValue]="'1'" nzLabel="Thuộc thẩm quyền giải quyết"></nz-option>
                <nz-option [nzValue]="'2'" nzLabel="Chuyển VKS có thẩm quyền giải quyết"></nz-option>
                <nz-option [nzValue]="'3'" nzLabel="Chuyển cơ quan khác"></nz-option>
                <nz-option [nzValue]="'4'" nzLabel="Trả lại đơn"></nz-option>
                <nz-option [nzValue]="'4'" nzLabel="Xử lý khác"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="pt-0 col-lg-1 col-md-2 col-form-label text-left" for="claimantName">Người YC bồi thường</label>
            <div class="col-lg-2 col-md-4">
              <input nzSize="small" nz-input type="text" id="claimantName" name="claimantName" class="border-success"
                     placeholder="Người YC bồi thường" [(ngModel)]="searchModel.claimantName">
            </div>
            <label class="pt-0 col-lg-1 col-md-2 col-form-label text-left" for="resultHandler">Người xử lý đơn YC</label>
            <div class="col-lg-2 col-md-4">
              <input nzSize="small" nz-input type="text" id="resultHandler" name="resultHandler" class="border-success"
                     placeholder="Người xử lý đơn YC" [(ngModel)]="searchModel.resultHandler">
            </div>
            <label class="pt-0 col-lg-1 col-md-2 col-form-label text-left" for="damagesName">Người thiệt hại</label>
            <div class="col-lg-2 col-md-4">
              <input nzSize="small" nz-input type="text" id="damagesName" name="damagesName" class="border-success"
                     placeholder="Người thiệt hại" [(ngModel)]="searchModel.damagesName">
            </div>
            <label class="pt-0 col-lg-1 col-md-2 col-form-label text-left" for="claimantAddress">Địa chỉ người YC</label>
            <div class="col-lg-2 col-md-4">
              <input nzSize="small" nz-input type="text" id="claimantAddress" name="claimantAddress" class="border-success"
                     placeholder="Địa chỉ người YC" [(ngModel)]="searchModel.claimantAddress">
            </div>
          </div>
          <div class="form-group row">
            <label class="pt-0 col-lg-1 col-md-2 col-form-label text-left" for="damagesAddress">Địa chỉ người thiệt
              hại</label>
            <div class="col-lg-2 col-md-4">
              <input nzSize="small" nz-input type="text" id="damagesAddress" name="damagesAddress" class="border-success"
                     placeholder="Địa chỉ người thiệt hại" [(ngModel)]="searchModel.damagesAddress">
            </div>
            <label class="col-lg-1 col-md-2 col-form-label text-left" for="resultNumber">Số xử lý</label>
            <div class="col-lg-2 col-md-4">
              <input nzSize="small" nz-input type="text" id="resultNumber" name="resultNumber" class="border-success"
                     placeholder="Số xử lý" [(ngModel)]="searchModel.resultNumber">
            </div>
            <label class="pt-0 col-lg-1 col-md-2 col-form-label text-left" for="fromResultDate">Ngày xử lý từ</label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              [nzMode]="'date'" nzSize="small"
                              [(ngModel)]="searchModel.fromResultDate"
                              (input)="fromResultDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="resultFromDate" id="fromResultDate"></nz-date-picker>
            </div>
            <label class="pt-0 col-lg-1 col-md-2 col-form-label text-left" for="toResultDate">Ngày xử lý đến</label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              [nzMode]="'date'" nzSize="small"
                              [(ngModel)]="searchModel.toResultDate"
                              (input)="toResultDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="resultToDate" id="toResultDate"></nz-date-picker>
            </div>
          </div>
          <div class="form-group row">
            <label class="pt-0 col-lg-1 col-md-2 col-form-label text-left" for="fromDocumentDate">Ngày bổ sung tài liệu
              từ</label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              [nzMode]="'date'" nzSize="small"
                              [(ngModel)]="searchModel.fromDocumentDate"
                              (input)="fromDocumentDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="deadlinesToDate" id="fromDocumentDate"></nz-date-picker>
            </div>
            <label class="pt-0 col-lg-1 col-md-2 col-form-label text-left" for="toDocumentDate">Ngày bổ sung tài liệu
              đến</label>
            <div class="col-lg-2 col-md-4">
              <nz-date-picker class="border-success w-100"
                              [nzMode]="'date'" nzSize="small"
                              [(ngModel)]="searchModel.toDocumentDate"
                              (input)="toDocumentDateValueChange($event)"
                              (keypress)="numberOnly($event)"
                              [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                              name="deadlinesFromDate" id="toDocumentDate"></nz-date-picker>
            </div>
          </div>
        </form>
      </div>
<!--      <div class="card-footer text-center">-->
<!--        <button type="button" class="btn btn-success" (click)="getListData(searchModel)"><i class="fa fa-search"></i>-->
<!--          Xem-->
<!--        </button>-->
<!--        <button type="button" class="btn btn-primary" (click)="exportExcel(searchModel)">Kết xuất Excel</button>-->
<!--        <button type="button" class="btn btn-info" (click)="exportDocx(searchModel)">Kết xuất Docx</button>-->
<!--        <button type="button" class="btn btn-warning" (click)="exportPdf(searchModel)">Kết xuất PDF</button>-->
<!--      </div>-->
    </div>


    <div class="card bg-default">
      <div class="w-100 card-header card-header-btn d-flex flex-row align-items-center">
        <div class="w-50 card-title">
          <i class="fa fa-list"></i> <strong>Kết quả báo cáo</strong>
        </div>
        <div class="w-50 text-right">
          <button type="button" class="btn btn-success mr-1 btn-sm" (click)="getListData(searchModel)"><i class="fa fa-search"></i> Xem</button>
          <button [disabled]="!btnDisable" type="button" class="btn btn-primary mr-1 btn-sm" (click)="exportExcel(searchModel)" nz-tooltip nzTooltipTitle="Kết xuất Excel">
            <i class="align-middle" nz-icon nzType="file-excel" nzTheme="outline"></i> Excel
          </button>
          <button [disabled]="!btnDisable" type="button" class="btn btn-info mr-1 btn-sm" (click)="exportDocx(searchModel)" nz-tooltip nzTooltipTitle="Kết xuất Docx">
            <i class="align-middle" nz-icon nzType="file-word" nzTheme="outline"></i> Docx
          </button>
          <button [disabled]="!btnDisable" type="button" class="btn btn-warning mr-3 btn-sm" (click)="exportPdf(searchModel)" nz-tooltip nzTooltipTitle="Kết xuất PDF">
            <i class="align-middle" nz-icon nzType="file-pdf" nzTheme="outline"></i> PDF
          </button>
        </div>
      </div>
      <div class="card-body">
        <form id="form-zone">
          <div class="table-responsive">
            <nz-table class="table-striped table-bordered table-hover" [nzData]="['']"
                      [nzFrontPagination]="false"
                      [nzScroll]="{x: '2500px', y: '400px' }" nzTableLayout="fixed">
              <thead>
              <tr>
                <ng-container *ngFor="let colsTable of colsTable">
                  <th nzEllipsis class="text-center" nz-tooltip nzTooltipTitle="{{ colsTable.title }}"
                      nz-resizable
                      nzPreview
                      [nzWidth]="colsTable.width"
                      (nzResizeEnd)="onResize($event, colsTable.title)">
                    <a class="font-weight-bold text-primary text-center">{{ colsTable.title }}
                    </a>
                    <nz-resize-handle nzDirection="right">
                      <div class="resize-trigger"></div>
                    </nz-resize-handle>
                  </th>
                </ng-container>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let item of listReport | paginate:{ itemsPerPage: pageSize, currentPage: currentPage, totalItems:totalRecords }; let i = index">
                <td class="text-center">{{item.sttDetail}}</td>
                <td class="text-left">{{item.s_column_2}}</td>
                <td class="text-left">{{item.s_column_3}}</td>
                <td class="text-left">{{item.s_column_4}}</td>
                <td class="text-left">{{item.s_column_5}}</td>
                <td class="text-left">{{item.s_column_6}}</td>
                <td class="text-left">{{item.s_column_7}}</td>
                <td class="text-left">{{item.s_column_8}}</td>
                <td class="text-left">{{item.s_column_9}}</td>
                <td class="text-left">{{item.s_column_10}}</td>
                <td class="text-left">
                  <div class="editable-cell" *ngIf="!item.s_ghi_chu" [hidden]="editId === item.n_compensation_id" (click)="startEdit(item.n_compensation_id)">
                    <span class="text-muted">Nhấn vào để thêm ghi chú</span>
                  </div>
                  <div class="editable-cell" *ngIf="item.s_ghi_chu" [hidden]="editId === item.n_compensation_id" (click)="startEdit(item.n_compensation_id)">
                    {{ item.s_ghi_chu }}
                  </div>
                  <nz-form-item [hidden]="editId !== item.n_compensation_id">
                    <nz-form-control nzErrorTip="Vui lòng nhập nội dung Ghi chú">
                      <nz-textarea-count [nzMaxCharacterCount]="200">
                        <textarea id="note" rows="4" nz-input [(ngModel)]="item.s_ghi_chu"
                                  [ngModelOptions]="{standalone: true}" (blur)="stopEdit(item)"></textarea>
                      </nz-textarea-count>
                    </nz-form-control>
                  </nz-form-item>
                </td>
              </tr>
              </tbody>
              <!--END TABLE BODY-->
            </nz-table>
          </div>
        </form>

        <!--BEGIN PAGINATION-->
        <div class="row">
          <div id="pageSize" class="col-sm-4 text-left">Số bản ghi
            <select class="col-sm-3 text-left border-primary" name="pageSize" [(ngModel)]="pageSize"
                    (ngModelChange)="onPageChange(1)">
              <option value="10">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          <div class="col-sm-6 text-left">
            <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
          </div>
          <div id="NumberOfRecords" class="col-sm-2 text-right">Tổng số bản ghi
            <strong>{{(totalRecords ? totalRecords : 0) | number}}</strong></div>
        </div>
        <!--END PAGINATION-->
      </div>
    </div>
  </div>
</div>

<ng-template #renderTemplate>
  <nz-spin *ngIf="isLoading"></nz-spin>
</ng-template>
